In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import gkey2

In [2]:
# Store CSV into dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2021-07-27 12:53:05,71.2906,-156.7887,41.02,93,90,3.44
1,1,Hay River,CA,2021-07-27 12:53:06,60.8156,-115.7999,53.58,76,40,6.91
2,2,Pevek,RU,2021-07-27 12:53:06,69.7008,170.3133,34.05,94,100,17.27
3,3,Rikitea,PF,2021-07-27 12:53:06,-23.1203,-134.9692,74.46,76,100,17.67
4,4,Atuona,PF,2021-07-27 12:52:40,-9.8000,-139.0333,77.52,71,18,19.19

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey2)

In [16]:
#Generate heat map

# Assign locations to array of lat/lng pairs
locations = city_data_df[["Lat", "Lng"]]
# Get max temp
max_temp = city_data_df["Max Temp"]
# Assign figure variable
fig = gmaps.figure()
# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add heatmap layer
fig.add_layer(heat_layer)
# Call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Get the maximum temperatures, set empty list, if the temp is less than 0, add 0 to the list
# Heatmap won't work with negative values. Use this code in case heatmap yields InvalidWeightException
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Alternatively replace in heat_layer:  weights=[max(temp,0) for temp in max_temp]

In [21]:
#Generate heat map of max temp

# Assign locations to array of lat/lng pairs
locations = city_data_df[["Lat", "Lng"]]
# Get max temp
max_temp = city_data_df["Max Temp"]
# Assign figure variable with center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
# Add heatmap layer
fig.add_layer(heat_layer)
# Adjust and zoom map
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask for temp input from customer
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2021-07-27 12:52:40,-9.8000,-139.0333,77.52,71,18,19.19
6,6,Tarauaca,BR,2021-07-27 12:53:07,-8.1614,-70.7656,80.71,64,2,2.48
19,19,Kutum,SD,2021-07-27 12:53:12,14.2000,24.6667,83.14,46,87,9.01
20,20,Russell,US,2021-07-27 12:50:08,32.3502,-85.1999,78.51,91,40,0.00
27,27,Lorengau,PG,2021-07-27 12:53:15,-2.0226,147.2712,82.60,75,34,8.77
31,31,Matara,LK,2021-07-27 12:53:16,5.9485,80.5353,79.54,86,76,11.70
32,32,Tamboril,DO,2021-07-27 12:53:16,19.4854,-70.6110,80.69,100,75,3.44
33,33,Manaus,BR,2021-07-27 12:53:17,-3.1019,-60.0250,84.69,79,20,1.14
34,34,Jiujiang,CN,2021-07-27 12:53:17,29.7333,115.9833,78.98,93,40,12.57
37,37,Bethel,US,2021-07-27 12:53:18,41.3712,-73.4140,80.29,79,0,2.93

In [31]:
preferred_cities_df = preferred_cities_df.dropna()

In [32]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2021-07-27 12:52:40,-9.8000,-139.0333,77.52,71,18,19.19
6,6,Tarauaca,BR,2021-07-27 12:53:07,-8.1614,-70.7656,80.71,64,2,2.48
19,19,Kutum,SD,2021-07-27 12:53:12,14.2000,24.6667,83.14,46,87,9.01
20,20,Russell,US,2021-07-27 12:50:08,32.3502,-85.1999,78.51,91,40,0.00
27,27,Lorengau,PG,2021-07-27 12:53:15,-2.0226,147.2712,82.60,75,34,8.77
...,...,...,...,...,...,...,...,...,...,...
533,533,Pingxiang,CN,2021-07-27 12:56:27,27.6167,113.8500,78.39,90,0,2.37
534,534,Padre Bernardo,BR,2021-07-27 12:56:28,-15.3500,-48.5000,77.95,27,72,4.76
535,535,Cockburn Town,TC,2021-07-27 12:56:28,21.4612,-71.1419,82.26,81,96,20.31
546,546,Kushima,JP,2021-07-27 12:56:32,31.4583,131.2333,82.44,89,0,2.93
547,547,Sola,VU,2021-07-27 12:56:33,-13.8833,167.5500,80.08,77,100,20.00

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
4     Atuona      PF     77.52  -9.8000 -139.0333
6   Tarauaca      BR     80.71  -8.1614  -70.7656
19     Kutum      SD     83.14  14.2000   24.6667
20   Russell      US     78.51  32.3502  -85.1999
27  Lorengau      PG     82.60  -2.0226  147.2712
31    Matara      LK     79.54   5.9485   80.5353
32  Tamboril      DO     80.69  19.4854  -70.6110
33    Manaus      BR     84.69  -3.1019  -60.0250
34  Jiujiang      CN     78.98  29.7333  115.9833
37    Bethel      US     80.29  41.3712  -73.4140

In [35]:
# Set parameters
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : gkey2
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,77.52,-9.8000,-139.0333,Villa Enata
6,Tarauaca,BR,80.71,-8.1614,-70.7656,Flat Temporada
19,Kutum,SD,83.14,14.2000,24.6667,Dibbo areaمنطقة دبو
20,Russell,US,78.51,32.3502,-85.1999,Macs
27,Lorengau,PG,82.60,-2.0226,147.2712,Lorengau Harbourside Hotel
31,Matara,LK,79.54,5.9485,80.5353,Amaloh Boutique Resort
32,Tamboril,DO,80.69,19.4854,-70.6110,Camp David Ranch Restaurant
33,Manaus,BR,84.69,-3.1019,-60.0250,Manaus Hotéis Millennium
34,Jiujiang,CN,78.98,29.7333,115.9833,Tianhai Fashion Theme Hotel
37,Bethel,US,80.29,41.3712,-73.4140,Courtyard by Marriott Danbury

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))